*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
ul{
    display: inline-flex;
    margin-top: 30px;   
}
a{
    text-decoration: none;
    color: white;   
    font-size: 15px;
    margin-right: 100px;
    margin-left: 10px;
}
.item{
    font-size: 20px;
}
li{
    list-style-type: none;
}
button.account{
    width: 80px; 
    height: 30px;
    float: right;
    margin-right: 10px;
    text-align: center;
    background-color:#5755FE ;
    color: white;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 50%;
}
.img{
    background-image: url(hd.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 100%;
}
h2{
    text-align: center;
    color: white;
}
label{
    padding-left: 40px;
    /* color: white; */

}
input{
  margin-left: 40px;
  /* color: white; */
 
}
.container{
    padding: 250px 0px 0px 550px;
    font-size: x-large;
    /* margin-left: 550px; */
     /* border: 2px solid white;  */
    height: 200px;
    width: 20%;
    /* text-align: center; */
}
 .img2{
    background-image: url(img.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 100%;
 } 
